.hero {
	min-height: calc(100vh - 113px);
	padding: 125px max(20px, calc((100vw - 1200px) / 2)) 60px;
	display: grid;
	grid-template-rows: auto minmax(400, 1fr);
	align-items: start;
}

.hero > div:first-child {
	max-width: 650px;
}

.eyebrow,
.button {
	display: none;
}

.hero-title {
	margin: 0;
	color: var(--light);
	font-size: clamp(130px, 20vw, 160px);
	font-weight: 500;
	letter-spacing: -1.8px;
	line-height: 1.1;
	text-align: center;
	position: relative;


}

.hero h1 em {
	color: inherit;
	font-style: normal;
}

.hero h1 br {
	display: none;
}

.hero-art {
	display: none;
}
